In [86]:
## import necessary libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [87]:
## read the dataset
work_data = pd.read_csv('/Users/vickyogo/Downloads/wk3data.csv')
work_data

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-09-27T02:35:24.080Z,33.493833,-116.585833,8.820,0.49,ml,14.0,83.0,0.01370,0.19,...,2023-09-27T02:38:55.018Z,"11 km SE of Anza, CA",earthquake,0.42,0.830,0.21400,8.0,automatic,ci,ci
1,2023-09-27T02:28:05.207Z,59.845200,-151.755700,72.800,1.80,ml,NaN,NaN,NaN,0.45,...,2023-09-27T02:30:09.905Z,"8 km NNE of Anchor Point, Alaska",earthquake,NaN,0.900,NaN,NaN,automatic,ak,ak
2,2023-09-27T02:24:34.830Z,36.073833,-121.678497,17.440,2.20,md,26.0,220.0,0.11090,0.09,...,2023-09-27T02:31:12.747Z,"12 km WNW of Lopez Point, CA",earthquake,0.78,0.380,0.22000,22.0,automatic,nc,nc
3,2023-09-27T02:14:27.605Z,54.998000,-160.455900,49.669,5.10,mb,95.0,154.0,0.35200,0.93,...,2023-09-27T02:38:35.118Z,"37 km S of Sand Point, Alaska",earthquake,4.85,5.561,0.05000,128.0,reviewed,us,us
4,2023-09-27T02:14:24.660Z,33.251000,-116.129000,3.080,0.90,ml,18.0,83.0,0.10050,0.22,...,2023-09-27T02:18:05.487Z,"12 km N of Ocotillo Wells, CA",earthquake,0.35,0.580,0.09900,18.0,automatic,ci,ci
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9570,2023-08-28T02:44:56.290Z,46.768667,-121.968000,9.050,0.30,ml,21.0,193.0,0.04480,0.18,...,2023-08-30T21:32:39.350Z,"4 km ENE of Ashford, Washington",earthquake,0.55,0.480,0.20417,10.0,reviewed,uw,uw
9571,2023-08-28T02:43:26.229Z,41.730000,-80.972000,5.000,3.60,mwr,84.0,47.0,0.82900,0.74,...,2023-09-24T23:39:23.243Z,"7 km SE of Madison, Ohio",earthquake,4.63,1.925,0.04100,58.0,reviewed,us,us
9572,2023-08-28T02:43:18.900Z,35.679833,-117.540833,5.210,1.47,ml,22.0,55.0,0.09649,0.14,...,2023-08-29T23:19:16.562Z,"14 km ENE of Ridgecrest, CA",earthquake,0.23,0.640,0.12200,15.0,reviewed,ci,ci
9573,2023-08-28T02:42:55.780Z,19.364666,-155.298004,2.130,1.80,ml,14.0,103.0,NaN,0.20,...,2023-08-28T02:48:27.220Z,"10 km SW of Volcano, Hawaii",earthquake,0.39,0.570,0.19000,3.0,automatic,hv,hv
9574,2023-08-28T02:42:34.200Z,37.856000,-122.026333,6.610,0.58,md,8.0,140.0,0.02682,0.05,...,2023-08-30T17:09:15.850Z,"1 km NE of Alamo, CA",earthquake,0.47,0.880,0.15000,8.0,reviewed,nc,nc

In [88]:
## first 10 rows
work_data.head(10)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-09-27T02:35:24.080Z,33.493833,-116.585833,8.820,0.49,ml,14.0,83.0,0.01370,0.19,...,2023-09-27T02:38:55.018Z,"11 km SE of Anza, CA",earthquake,0.42,0.830,0.214,8.0,automatic,ci,ci
1,2023-09-27T02:28:05.207Z,59.845200,-151.755700,72.800,1.80,ml,NaN,NaN,NaN,0.45,...,2023-09-27T02:30:09.905Z,"8 km NNE of Anchor Point, Alaska",earthquake,NaN,0.900,NaN,NaN,automatic,ak,ak
2,2023-09-27T02:24:34.830Z,36.073833,-121.678497,17.440,2.20,md,26.0,220.0,0.11090,0.09,...,2023-09-27T02:31:12.747Z,"12 km WNW of Lopez Point, CA",earthquake,0.78,0.380,0.220,22.0,automatic,nc,nc
3,2023-09-27T02:14:27.605Z,54.998000,-160.455900,49.669,5.10,mb,95.0,154.0,0.35200,0.93,...,2023-09-27T02:38:35.118Z,"37 km S of Sand Point, Alaska",earthquake,4.85,5.561,0.050,128.0,reviewed,us,us
4,2023-09-27T02:14:24.660Z,33.251000,-116.129000,3.080,0.90,ml,18.0,83.0,0.10050,0.22,...,2023-09-27T02:18:05.487Z,"12 km N of Ocotillo Wells, CA",earthquake,0.35,0.580,0.099,18.0,automatic,ci,ci
5,2023-09-27T02:13:22.880Z,17.947500,-66.941800,8.000,3.32,md,13.0,206.0,0.10470,0.15,...,2023-09-27T02:31:03.689Z,"4 km SW of Guánica, Puerto Rico",earthquake,0.52,1.140,0.020,7.0,reviewed,pr,pr
6,2023-09-27T01:59:55.340Z,61.586800,-150.252600,47.800,1.80,ml,NaN,NaN,NaN,0.52,...,2023-09-27T02:01:48.777Z,"14 km ENE of Susitna, Alaska",earthquake,NaN,0.900,NaN,NaN,automatic,ak,ak
7,2023-09-27T01:40:56.987Z,61.455500,-151.043700,72.300,1.30,ml,NaN,NaN,NaN,0.52,...,2023-09-27T01:43:10.186Z,"29 km WSW of Susitna, Alaska",earthquake,NaN,0.900,NaN,NaN,automatic,ak,ak
8,2023-09-27T01:29:07.950Z,35.882000,-117.685333,2.290,2.98,ml,42.0,55.0,0.09771,0.17,...,2023-09-27T01:39:47.820Z,"21 km ESE of Little Lake, CA",earthquake,0.27,0.470,0.246,24.0,automatic,ci,ci
9,2023-09-27T01:23:16.030Z,34.046500,-117.271667,11.470,1.11,ml,32.0,36.0,0.08619,0.27,...,2023-09-27T01:26:53.233Z,"1 km WSW of Loma Linda, CA",earthquake,0.35,0.630,0.189,29.0,automatic,ci,ci

In [89]:
## information about the dataset
work_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9575 entries, 0 to 9574
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             9575 non-null   object
 1   latitude         9575 non-null   float64
 2   longitude        9575 non-null   float64
 3   depth            9575 non-null   float64
 4   mag              9574 non-null   float64
 5   magType          9574 non-null   object
 6   nst              7139 non-null   float64
 7   gap              7139 non-null   float64
 8   dmin             5691 non-null   float64
 9   rms              9575 non-null   float64
 10  net              9575 non-null   object
 11  id               9575 non-null   object
 12  updated          9575 non-null   object
 13  place            9575 non-null   object
 14  type             9575 non-null   object
 15  horizontalError  6513 non-null   float64
 16  depthError       9575 non-null   float64
 17  magError         7106 non-null   float64
 18  magNst           7128 non-null   float64
 19  status           9575 non-null   object
 20  locationSource   9575 non-null   object
 21  magSource        9575 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.6+ MB

In [90]:
## check for missing values
work_data.isnull().sum()
# NaN -- NOT A NUMBER

time                  0
latitude              0
longitude             0
depth                 0
mag                   1
magType               1
nst                2436
gap                2436
dmin               3884
rms                   0
net                   0
id                    0
updated               0
place                 0
type                  0
horizontalError    3062
depthError            0
magError           2469
magNst             2447
status                0
locationSource        0
magSource             0
dtype: int64

In [91]:
##work_data['mag'] = work_data['mag'].replace({'':np.nan})

##work_data.replace(to_replace={col: {'':np.nan, None:np.nan} for col in work_data.columns}, inplace=True)

In [98]:
work_data['mag'] = work_data['mag'].fillna(work_data['mag'].median())
work_data['magType'] = work_data['magType'].fillna(work_data['magType'].mode())
work_data['nst'] = work_data['nst'].fillna(work_data['nst'].median())
work_data['gap'] = work_data['gap'].fillna(work_data['gap'].median())
work_data['dmin'] = work_data['dmin'].fillna(work_data['dmin'].median())
work_data['horizontalError'] = work_data['horizontalError'].fillna(work_data['horizontalError'].median())
work_data['magError'] = work_data['magError'].fillna(work_data['magError'].median())
work_data['magNst'] = work_data['magNst'].fillna(work_data['magNst'].median())
work_data

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-09-27T02:35:24.080Z,33.493833,-116.585833,8.820,0.49,ml,14.0,83.0,0.01370,0.19,...,2023-09-27T02:38:55.018Z,"11 km SE of Anza, CA",earthquake,0.42,0.830,0.21400,8.0,automatic,ci,ci
1,2023-09-27T02:28:05.207Z,59.845200,-151.755700,72.800,1.80,ml,16.0,98.0,0.06227,0.45,...,2023-09-27T02:30:09.905Z,"8 km NNE of Anchor Point, Alaska",earthquake,0.44,0.900,0.16600,10.0,automatic,ak,ak
2,2023-09-27T02:24:34.830Z,36.073833,-121.678497,17.440,2.20,md,26.0,220.0,0.11090,0.09,...,2023-09-27T02:31:12.747Z,"12 km WNW of Lopez Point, CA",earthquake,0.78,0.380,0.22000,22.0,automatic,nc,nc
3,2023-09-27T02:14:27.605Z,54.998000,-160.455900,49.669,5.10,mb,95.0,154.0,0.35200,0.93,...,2023-09-27T02:38:35.118Z,"37 km S of Sand Point, Alaska",earthquake,4.85,5.561,0.05000,128.0,reviewed,us,us
4,2023-09-27T02:14:24.660Z,33.251000,-116.129000,3.080,0.90,ml,18.0,83.0,0.10050,0.22,...,2023-09-27T02:18:05.487Z,"12 km N of Ocotillo Wells, CA",earthquake,0.35,0.580,0.09900,18.0,automatic,ci,ci
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9570,2023-08-28T02:44:56.290Z,46.768667,-121.968000,9.050,0.30,ml,21.0,193.0,0.04480,0.18,...,2023-08-30T21:32:39.350Z,"4 km ENE of Ashford, Washington",earthquake,0.55,0.480,0.20417,10.0,reviewed,uw,uw
9571,2023-08-28T02:43:26.229Z,41.730000,-80.972000,5.000,3.60,mwr,84.0,47.0,0.82900,0.74,...,2023-09-24T23:39:23.243Z,"7 km SE of Madison, Ohio",earthquake,4.63,1.925,0.04100,58.0,reviewed,us,us
9572,2023-08-28T02:43:18.900Z,35.679833,-117.540833,5.210,1.47,ml,22.0,55.0,0.09649,0.14,...,2023-08-29T23:19:16.562Z,"14 km ENE of Ridgecrest, CA",earthquake,0.23,0.640,0.12200,15.0,reviewed,ci,ci
9573,2023-08-28T02:42:55.780Z,19.364666,-155.298004,2.130,1.80,ml,14.0,103.0,0.06227,0.20,...,2023-08-28T02:48:27.220Z,"10 km SW of Volcano, Hawaii",earthquake,0.39,0.570,0.19000,3.0,automatic,hv,hv
9574,2023-08-28T02:42:34.200Z,37.856000,-122.026333,6.610,0.58,md,8.0,140.0,0.02682,0.05,...,2023-08-30T17:09:15.850Z,"1 km NE of Alamo, CA",earthquake,0.47,0.880,0.15000,8.0,reviewed,nc,nc

In [99]:
## check for missing values after replacing nan
work_data.isnull().sum()
# NaN -- NOT A NUMBER

time               0
latitude           0
longitude          0
depth              0
mag                0
magType            1
nst                0
gap                0
dmin               0
rms                0
net                0
id                 0
updated            0
place              0
type               0
horizontalError    0
depthError         0
magError           0
magNst             0
status             0
locationSource     0
magSource          0
dtype: int64

In [94]:
## BASIC STATISTICS
work_data.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000,9575.000000
mean,41.290537,-117.193025,24.440928,1.558205,21.257859,111.804132,0.373205,0.293194,1.282659,2.110591,0.208065,15.034674
std,19.071467,64.500276,55.382143,1.204338,19.790585,57.349466,1.568722,0.268129,3.220205,4.991951,0.292542,24.444222
min,-65.899300,-179.994000,-3.430000,-1.120000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.036167,-152.343567,2.900000,0.780000,12.000000,76.000000,0.048175,0.100000,0.320000,0.400000,0.130000,7.000000
50%,38.839667,-122.790169,8.170000,1.330000,16.000000,98.000000,0.062270,0.180000,0.440000,0.700000,0.166000,10.000000
75%,58.184750,-116.569417,17.930000,2.000000,23.000000,128.000000,0.078460,0.460000,0.640000,1.500000,0.207348,14.000000
max,79.568100,179.967500,649.778000,7.100000,393.000000,357.000000,31.781000,2.820000,176.932676,87.300000,5.240000,600.000000

In [95]:
work_data.groupby(['mag']).sum(numeric_only=True)

,latitude,longitude,depth,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
mag,,,,,,,,,,,
-1.12,60.018500,-153.068000,-0.690,4.0,136.0,0.06227,0.11,0.30,3.720,0.286711,4.0
-1.05,60.019000,-153.064833,-0.660,5.0,96.0,0.06227,0.15,0.30,3.750,0.100803,4.0
-1.02,60.010833,-153.090333,1.330,5.0,110.0,0.06227,0.10,0.35,1.110,0.205939,5.0
-0.99,60.020167,-153.095500,1.220,5.0,118.0,0.06227,0.22,0.56,0.720,0.309361,5.0
-0.92,120.522000,-305.851167,0.380,11.0,194.0,0.12454,0.16,0.60,2.720,0.485372,9.0
...,...,...,...,...,...,...,...,...,...,...,...
6.20,-30.277500,-71.536000,41.368,65.0,133.0,0.40400,1.03,5.68,5.448,0.047000,43.0
6.30,45.799900,246.449000,217.281,298.0,42.0,6.37300,1.80,14.99,6.956,0.090000,95.0
6.60,-32.724400,-179.306900,89.810,109.0,19.0,3.65100,1.31,8.23,4.720,0.071000,19.0
6.80,31.054900,-8.388700,19.000,393.0,22.0,0.99100,0.67,3.12,3.114,0.032000,95.0
7.10,-6.805100,116.526900,500.000,147.0,22.0,2.36000,0.87,8.23,1.835,0.037000,70.0

In [96]:
work_data.groupby(['mag']).count()

,time,latitude,longitude,depth,magType,nst,gap,dmin,rms,net,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
mag,,,,,,,,,,,,,,,,,,,,,
-1.12,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
-1.05,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
-1.02,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
-0.99,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
-0.92,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6.20,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6.30,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
6.60,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6.80,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7.10,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [100]:
work_data.groupby(['mag'])[['total_bill', 'tip']].sum()

KeyError: "Columns not found: 'total_bill', 'tip'"